{% load static %}
<section id="testimonial" class="testimonial">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="main_testimonial sections text-center">
                                <div class="col-md-12" data-wow-delay="0.2s">
                                    <div class="main_teastimonial_slider text-center">

                                        <div class="single_testimonial">
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <i class="fa fa-quote-left"></i>
                                                        <p>{% trans '"Acredito que seja uma ótima plataforma para quem deseja tirar sua habilitação, focamos bastante na satisfação do cliente."' %}</q></p>
                                                    <div class="single_test_author">
                                                        <h4>Guilherme Delgado <span> -- CEO PTSCO</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single_testimonial">
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <i class="fa fa-quote-left"></i>
                                                    <p>{% trans '"A satisfação do cliente é nosso principal objetivo, por isso tentamos apresentar uma plataforma o mais simples possível."' %}</p>
                                                    <div class="single_test_author">
                                                        <h4>Lucas Leal <span> -- CEO PTSCO</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
